@font-face {
  font-family: 'blistany';
  src: url('./assets/fonts/blistany.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* ... rest of your CSS ... */
.rainbow-text {
  font-size: 5rem;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7f00,
    #ffff00,
    #00ff00,
    #0000ff,
    #4b0082,
    #9400d3
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: rainbow 3s ease infinite;
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.lipstick-img{
  height: '20px';
  width: '20px';
  }
.foundation-img{
    height: '20px';
    width: '20px';
    }

